{
  "network": {
    "servers": <%= node['logstash_forwarder']['config']['network']['servers'] %>,
    "ssl certificate": "<%= node['logstash_forwarder']['crt_file'] %>",
    "ssl key": "<%= node['logstash_forwarder']['key_file'] %>",
    "ssl ca": "<%= node['logstash_forwarder']['crt_file'] %>",
    "timeout": <%= node['logstash_forwarder']['timeout'] %>
  },

  "files": <%= node['logstash_forwarder']['config']['files'] %>
}